---
// Supports weights 400-900
import SEO from "@/components/SEO.astro";
import "@fontsource-variable/bodoni-moda";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
}

const { title, description, canonical, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="generator" content={Astro.generator} />
    <SEO
      canonical={canonical}
      description={description}
      image={image}
      title={title}
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Bodoni Moda Variable", serif;
    background: white;
    background-size: 224px;
  }
</style>
